@model AGENDA.Models.Agenda

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Agenda</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateHeure)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateHeure)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Concernee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Concernee)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Duree)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Duree)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lieu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lieu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
